<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CERT</key>
	<dict>
		<key>baseUrl</key>
		<string>https://api-netspend-01.cert.aus.netspend.net</string>
		<key>client_secret</key>
		<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IjY1NzI5NjRmLTYwZDItNGEwMC05ZjNmLWViZmY3NzY4Mzg5ZiJ9.ZXlKaGJHY2lPaUprYVhJaUxDSmxibU1pT2lKQk1qVTJSME5OSWl3aWEybGtJam9pWVdJNFkySmxPV010TXpCa05TMDBPVGt3TFdJM1lqSXRObVZsT1RFMU5XUXdObU0xSW4wLi5TOTVkV0EwVl9FaGg1MHFWLnRoeUtrYnhmcmNmTnNULS1oUFNXWW5pOFFQVXdyX25mTHM4dVlqanFHTGd1c3BTWi1URC1TdzJhaU5SNDN5OUdoZ2tzODZiVHpHNzVZOEZyZlFKTVBLU3BMU2xxRVBQcGhNNGlzazVHU2lmUW95bEp1S0NucWRnc2xXTkl1NTNSM2QxaFEwbnRoRHFXZDluX0ZqMkhoVHl0VDdvaGZkMGIwTEFEckE0Yi5hSkhtdVRla01nWHpaWjdfdGY3T1dB.lo1tG_oxSpu_w-fuVRa75FrgisK3_CaYX5LNq54k-2o</string>
	</dict>
	<key>PIT:C</key>
	<dict>
		<key>baseUrl</key>
		<string>https://api-netspend-pitc.test.aus.netspend.net</string>
		<key>client_secret</key>
		<string>eyJhbGciOiJIUzI1NiIsImtpZCI6Ijc0MjU2Y2Y5LTZmMjUtNGM0ZC1hMjg0LWFmNmFjYTBlYjEzZCJ9.ZXlKaGJHY2lPaUprYVhJaUxDSmxibU1pT2lKQk1qVTJSME5OSWl3aWEybGtJam9pTm1Rd1lUSTVNMkV0WWpFek1TMDBaV1kzTFRrMU9EUXRZVFV6T0daaFlUQm1OakF4SW4wLi5vTXFWU3RJOWJaM25jQVRMLnE0TWhkc1VBLXh4R29WdlZjSUdjRFoxWWkydVhsa2tveFltVnRLbkVHcFdhVkVZSUVaMEc0d2h0UlZJTFVxU3ZjM0NKeDlFNmVUTDB6TlFZRWJNWXBvd3NiUzNoVXlOMjVsNW1TLTFsNGdJRnNTZTRQQXhnMk5nY3pSNDJ1eWVhY3FUUFdPSHZwZXJSOU0tT1R0RDVVSnJnbFZrQXN4cEtZOE0tbGFoLS52X3BuRG9oMFMzRHJSQzIteExRcmFn.c4-WOyBBWt5oXSdszlDj90N279xVF0AULkRcbe6Nwa0</string>
	</dict>
	<key>LOCAL:8081</key>
	<dict>
		<key>baseUrl</key>
		<string>https://testc-mw-web0a01.test.aus.netspend.net:8903</string>
		<key>client_secret</key>
		<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IjQ5ZGQ2NDkyLWQ5OWYtNDViYy1hMDBhLWMyZTgyYmFkZTYwOSJ9.ZXlKaGJHY2lPaUprYVhJaUxDSmxibU1pT2lKQk1qVTJSME5OSWl3aWEybGtJam9pTkRjeE1XSXpOV010WWpSa1l5MDBObUkzTFdFd01qTXROak14WmpWa05EZzBNbVJqSW4wLi5vdWU1MjZnVW5IMlRiSjgzLlFMUE11SjJjWWw0eXRYaVhKOFE3clBweFlua3YtS0RSeERRTk9YeXE0X08zaUpIa3l4a2twM0RtLVpxeENTUFBCYm9UcjN4U0RxTW85anRITDRpZE1lZjhmTVVWTlktZlZFVXl4MksxSU1lUVVHcW5wUzZ0dkNkdHZUaGt6Q2o0ZGZ1Rk1xZ1lYQXpIOW9wX3RjYS1xS1JRMk5Lc3B1S2hjRTRSeVBUUS5XYmZlVmIwcEtTMGVxc0VLbktqUXJn.QHHgExX8xJ16WBa_VdVZDDgFaKgm1T1kD4Gg1wvGDdU</string>
	</dict>
	<key>TEST:C</key>
	<dict>
		<key>baseUrl</key>
		<string>https://testc-mw-web0a01.test.aus.netspend.net:8903</string>
		<key>client_secret</key>
		<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IjQ5ZGQ2NDkyLWQ5OWYtNDViYy1hMDBhLWMyZTgyYmFkZTYwOSJ9.ZXlKaGJHY2lPaUprYVhJaUxDSmxibU1pT2lKQk1qVTJSME5OSWl3aWEybGtJam9pTkRjeE1XSXpOV010WWpSa1l5MDBObUkzTFdFd01qTXROak14WmpWa05EZzBNbVJqSW4wLi5vdWU1MjZnVW5IMlRiSjgzLlFMUE11SjJjWWw0eXRYaVhKOFE3clBweFlua3YtS0RSeERRTk9YeXE0X08zaUpIa3l4a2twM0RtLVpxeENTUFBCYm9UcjN4U0RxTW85anRITDRpZE1lZjhmTVVWTlktZlZFVXl4MksxSU1lUVVHcW5wUzZ0dkNkdHZUaGt6Q2o0ZGZ1Rk1xZ1lYQXpIOW9wX3RjYS1xS1JRMk5Lc3B1S2hjRTRSeVBUUS5XYmZlVmIwcEtTMGVxc0VLbktqUXJn.QHHgExX8xJ16WBa_VdVZDDgFaKgm1T1kD4Gg1wvGDdU</string>
	</dict>
	<key>CLOUDTEST:A</key>
	<dict>
		<key>baseUrl</key>
		<string>https://clouda-mw-web0a01.aws.netspend.net:8903</string>
		<key>client_secret</key>
		<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IjQ5ZGQ2NDkyLWQ5OWYtNDViYy1hMDBhLWMyZTgyYmFkZTYwOSJ9.ZXlKaGJHY2lPaUprYVhJaUxDSmxibU1pT2lKQk1qVTJSME5OSWl3aWEybGtJam9pTkRjeE1XSXpOV010WWpSa1l5MDBObUkzTFdFd01qTXROak14WmpWa05EZzBNbVJqSW4wLi5zdkRsWHJyaEUwaVFUTi1vLnpQMkNDLTJZUVlqUEVqNEMzUWo5NzJ3aXl0d3hWRk1GVFRMOEs4alFZa25MN05KVkJkZTNBYzJXaHBSOVRENVo4S0FYai15ZHFLUGpIUkxTNFhzdDVmbnRoOHdILUdqWnQ3aVV2OWlDNXhFRGxuRjA2NGN0WkczZHJ3NEduYVFhdWpKbnJFeHQtanJmMUZwRGthbFhjYmxIeTFYdFZSbmlKM0VVQlo1UC5JUHBLMEdkRGwwVmtUcmU2U2FZX05R.507G52c9OHDhxqWZuEOovbi3EfGPotaH8AwzsVxhb8A</string>
	</dict>
	<key>uat</key>
	<dict>
		<key>ingo_service_info_url</key>
		<string>https://uat-api.spykemobile.net/IngoServiceInfo/</string>
		<key>card_crud_enabled</key>
		<true/>
		<key>is_using_mock_location</key>
		<false/>
		<key>is_system_available_url</key>
		<string>https://uat-api.spykemobile.net/Ingo.Server.Status.Service/api/SystemAvailability</string>
		<key>is_demo_mode</key>
		<false/>
		<key>network_disabled_message</key>
		<string></string>
		<key>suppressAboutPopupOnFirstUse</key>
		<string>NO</string>
		<key>customer_service_row_one_header</key>
		<string></string>
		<key>funds_timing_selection</key>
		<integer>0</integer>
		<key>customer_service_row_one_subheader</key>
		<string></string>
		<key>webapi_url</key>
		<string>https://uat-api.spykemobile.net/SpykeMobileServices4.0</string>
		<key>location_issue_message</key>
		<string></string>
		<key>mock_longitude</key>
		<integer>0</integer>
		<key>restful_url</key>
		<string>https://uat-api.spykemobile.net/SpykeMobileServices4.0/MobileServices.svc</string>
		<key>check_deposit_button_title</key>
		<string></string>
		<key>network_issue_message</key>
		<string></string>
		<key>customer_service_row_two_subheader</key>
		<string></string>
		<key>logging_level</key>
		<string>DEBUG</string>
		<key>customer_service_row_one_link</key>
		<string></string>
		<key>card_view_enabled</key>
		<true/>
		<key>card_selector_enabled</key>
		<true/>
		<key>customer_service_row_one_link_type</key>
		<string></string>
		<key>mock_latitude</key>
		<integer>0</integer>
		<key>check_deposit_screen_title</key>
		<string></string>
		<key>partner_connect_id</key>
		<string>Api.ConnectId.IOS.000928.999900@ingomoney.com</string>
		<key>customer_service_row_two_link_type</key>
		<string></string>
		<key>customer_service_row_one_link_text</key>
		<string></string>
		<key>customer_service_row_two_header</key>
		<string></string>
		<key>customer_service_row_two_link_text</key>
		<string></string>
		<key>customer_service_row_two_link</key>
		<string></string>
		<key>is_configurable</key>
		<true/>
		<key>server_url</key>
		<string>https://uat-api.spykemobile.net/SpykeMobileServices4.0/SpykeMobileService2.svc/json/</string>
		<key>customer_service_row_one_disabled</key>
		<false/>
		<key>welcome_screen_title</key>
		<string></string>
		<key>customer_service_row_two_disabled</key>
		<false/>
	</dict>
	<key>prod</key>
	<dict>
		<key>ingo_service_info_url</key>
		<string>https://api.spykemobile.net/IngoServiceInfo/</string>
		<key>card_crud_enabled</key>
		<false/>
		<key>is_using_mock_location</key>
		<false/>
		<key>is_system_available_url</key>
		<string>https://api.spykemobile.net/Ingo.Server.Status.Service/api/SystemAvailability</string>
		<key>is_demo_mode</key>
		<false/>
		<key>network_disabled_message</key>
		<string></string>
		<key>suppressAboutPopupOnFirstUse</key>
		<string>NO</string>
		<key>customer_service_row_one_header</key>
		<string></string>
		<key>funds_timing_selection</key>
		<integer>0</integer>
		<key>customer_service_row_one_subheader</key>
		<string></string>
		<key>webapi_url</key>
		<string>https://api.spykemobile.net/spykemobileservices4.0</string>
		<key>location_issue_message</key>
		<string></string>
		<key>mock_longitude</key>
		<integer>0</integer>
		<key>restful_url</key>
		<string>https://api.spykemobile.net/spykemobileservices4.0/MobileServices.svc</string>
		<key>check_deposit_button_title</key>
		<string></string>
		<key>network_issue_message</key>
		<string></string>
		<key>customer_service_row_two_subheader</key>
		<string></string>
		<key>logging_level</key>
		<string>DEBUG</string>
		<key>customer_service_row_one_link</key>
		<string></string>
		<key>card_view_enabled</key>
		<true/>
		<key>card_selector_enabled</key>
		<true/>
		<key>customer_service_row_one_link_type</key>
		<string></string>
		<key>mock_latitude</key>
		<integer>0</integer>
		<key>check_deposit_screen_title</key>
		<string></string>
		<key>partner_connect_id</key>
		<string>Api.ConnectId.IOS.000928.999900@ingomoney.com</string>
		<key>customer_service_row_two_link_type</key>
		<string></string>
		<key>customer_service_row_one_link_text</key>
		<string></string>
		<key>customer_service_row_two_header</key>
		<string></string>
		<key>customer_service_row_two_link_text</key>
		<string></string>
		<key>customer_service_row_two_link</key>
		<string></string>
		<key>is_configurable</key>
		<false/>
		<key>server_url</key>
		<string>https://api.spykemobile.net/spykemobileservices4.0/spykemobileservice2.svc/json/</string>
		<key>customer_service_row_one_disabled</key>
		<false/>
		<key>welcome_screen_title</key>
		<string></string>
		<key>customer_service_row_two_disabled</key>
		<false/>
	</dict>
	<key>environment</key>
	<string>uat</string>
</dict>
</plist>
